body {
  width: 100vw;
  margin: 0 auto;
}

.shoeDisplay {
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #1a1816;
  box-shadow: 0 0 10px #1a1816;
  margin: 10px;
  width: 600px;
}

.shoeDisplay:hover {
  box-shadow: 0 0 5px #1a1816;
}

.container {
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shoeSelect {
  text-align: center;
  text-decoration: none;
  color: #262626;
  box-shadow: 0 0 10px #1a1816;
  margin: 20px;
  width: 400px;
}

.buttom {
  width: 100vw;
  height: 40px;
  background-color: #2e303e;
  display: flex;
}

.buttom > li {
  color: #f3f1f3;
  text-decoration: none;
  padding: 10px;
  list-style-type: none;
}

.item-div {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}

.input-div {
  padding: 10px;
  padding-left: 20px;
  width: 400px;
  height: 27px;
  background: transparent;
  border: transparent;
  /* box-shadow: 0 0 7px; */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.input-div:hover {
  padding: 10px;
  padding-left: 20px;
  width: 400px;
  height: 27px;
  background: transparent;
  border: none;
  /* box-shadow: 0 0 7px #064b54; */

  box-shadow: 0 5px 5px #7d7d7d;
}
