body {
  width: 95%;
  margin: 0 auto;
}

.shoeDisplay {
  text-align: center;
  text-decoration: none;
  color: #1a1816;
  box-shadow: 0 0 10px #1a1816;
  margin: 10px;
  width: 250px;
}

.shoeDisplay:hover {
  box-shadow: 0 0 5px #1a1816;
}

.container {
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  /* justify-items: center;
  align-items: center; */
}

.shoeSelect {
  text-align: center;
  text-decoration: none;
  color: #262626;
  box-shadow: 0 0 10px #1a1816;
  margin: 10px;
  width: 400px;
}
